PORT=5000
MONGO_URI=mongodb+srv://sajal:sajal123@cluster0.acw0pev.mongodb.net/payperapi?retryWrites=true&w=majority
JWT_SECRET=sajal_secret_12345
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
